configs/
llm_backend/protos/
**/.env

.venv/
.github/
.pre-commit-config.yaml
.ruff_cache/

Dockerfile
.dockerignore
docker-compose.yml

**/__pycache__/
*.py[cod]
*$py.class

.DS_Store

.git/
.gitignore
.gitmodules/